name: Test

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  chat:
    name: Checks
    timeout-minutes: 15
    runs-on: [macos-latest]
    steps:
      - uses: zendesk/checkout@v3
      - name: Bundler
        run: |
          bundle config path vendor/bundle
          bundle check || bundle install --jobs 4 --retry 3
      - name: Fasterer
        run: bundle exec fasterer
      - name: Snyk
        run: |
          npm install -g snyk
          snyk test
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
